/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lora-v32-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v32-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lora-v32-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/lora-v32-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inconsolata-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inconsolata-v31-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inconsolata-v31-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inconsolata-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inconsolata-v31-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("../fonts/inconsolata-v31-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  /* colors */
  --black-05: #050505;
  --black-1f: #1f1f1f;
  --black-2d: #2d2d2d;
  --black-3a: #3a3a3a;
  --light-75: #757575;
  --light-e9: #e9e9e9;
  --light-f4: #f4f4f4;
  --white: #ffffff;
  --pink: #a445ed;
  --red: #ff5252;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  padding: 6.5rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: flex;
}
.container {
  width: 100%;
  max-width: 815px;
  padding-left: 39px;
  padding-right: 39px;
  margin-left: auto;
  margin-right: auto;
}
/* mode btn */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 40px;
  height: 20px;
  background-color: #757575;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 14px;
  height: 14px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(20px);
}
.checkbox:checked + .label {
  background-color: var(--pink);
}

/* header */
.header {
  margin-bottom: 5.2rem;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-img {
}
.header-wrapper {
  display: flex;
  align-items: center;
}
.font-select {
  display: flex;
  margin-right: 2.6rem;
  padding-right: 2.6rem;
  border-right: 2px solid var(--light-e9);
}
.font-user {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.33;
  color: var(--black-2d);
  margin-right: 1.8rem;
}

.label {
  margin-right: 2rem;
}
/* main */
.main {
}
.search-container {
  background: var(--light-f4);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  margin-bottom: 4rem;
}

#search {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 80%;

  /* 2D2D2D */

  color: var(--black-2d);
}
.search-icon {
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.result-wrapper {
}
.result-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;

  /* 2D2D2D */

  color: var(--black-2d);
  margin-bottom: 8px;
}
.result-tarnskript {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* A445ED */

  color: var(--pink);
}
/* meaning firs */
.container {
}
.meaning-first {
  margin-bottom: 4rem;
}
.meaning-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.meaning-title {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* 2D2D2D */

  color: #2d2d2d;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  /* 757575 */

  color: #757575;
  margin-bottom: 2.5rem;
}
ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--pink);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.meaning-list {
  list-style: none;
  padding-left: 4rem;
  margin-bottom: 6.4rem;
}
.meaning-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* 2D2D2D */

  color: #2d2d2d;
}
.meaning-item:not(:last-child) {
  margin-bottom: 1.2rem;
}
.synonymus {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  /* 757575 */

  color: #757575;
  margin-bottom: 2rem;
}
.synonymus-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 2px;

  /* A445ED */

  color: #a445ed;
  margin-left: 2.2rem;
}
.exmple {
  margin-top: 1.3rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  /* 757575 */

  color: #757575;
}
.line {
  border-top: 1px solid var(--light-e9);
  margin-bottom: 1.9rem;
}
.source-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-decoration-line: underline;

  /* 757575 */

  color: #757575;
  display: flex;
}
.source-text {
  color: #2d2d2d;
  margin-left: 2rem;
  margin-right: 9px;
}
/* no Found */
.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 72px;
}
.container {
}
.no-found-img {
  margin-bottom: 44px;
}
.no-found {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  /* 2D2D2D */

  color: var(--black-2d);
  margin-bottom: 24px;
}
.no-found-descr {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;

  /* 757575 */

  color: var(--light-75);
}

.hidden {
  display: none;
}
.dark-mode {
  background-color: #050505;
  color: var(--white);
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
}

.dropdown__img {
  width: 12px;
  height: 6px;
}

.dd {
  position: relative;
  padding: 5px;
}

.dropdown__text {
  width: 100px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
  color: var(--dark3);
}

.dd:hover .dropdown__type {
  display: flex;
}

.dropdown__type {
  width: 183px;
  height: 152px;
  background: var(--light4);
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  position: absolute;
  top: 36px;
  left: -50%;
  z-index: 1;
}

.dd_type {
  display: none;
}

.font-type {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.font-type:active {
  color: var(--color1);
}

.f1 {
  font-family: "Inter", sans-serif;
}

.f2 {
  font-family: "Lora", serif;
}

.f3 {
  font-family: "Inconsolata" monospace;
}

.clm {
  width: 1px;
  height: 32px;
  background-color: var(--light2);
}
